* {
  background: rgb(32,32,32);
  font-family: avenir, arial;
  border-radius: 10px;
}

body {
  padding: 10px;
}

svg {
  background: whitesmoke;
}

/**
 * This file was first created using the Yeoman generator
 * generator-hchiam-learning:
 * https://www.npmjs.com/package/generator-hchiam-learning
 */
