* {
  background: rgb(32, 32, 32);
  font-family: avenir, arial;
  border-radius: 10px;
}

body {
  padding: 10px;
}

svg {
  background: whitesmoke;
}

a {
  color: lime;
}

a:focus,
a:hover {
  color: white;
}

text {
  /* transition: transform 0.2s;
  transform: rotate(-0.25turn);
  transform-origin: 404px 210px; */
}
